#textdomain wesnoth-Eliador

[textdomain]
    name="wesnoth-Eliador"
    path="data/add-ons/Eliador/translations"
[/textdomain]

[campaign]
    id=campaign_eliador
    define=CAMPAIGN_ELIADOR
    icon="units/transport/pirate-galleon.png"
    image="portraits/humans/transparent/footpad+female.png~SCALE(200,200)"
    name= _ "Invasion of Eliador"
    rank=5250
    abbrev= _ "IOE"
    description= _ "A peaceful island is about to be invaded by unknadded foes travelling towards the eastern shore. It is up to a family of outlaws to warn the island's inhabitants before it's too late.
"+"
<i><small>
"+ _ "(Intermediate level, RPG/Puzzle, Total of 12 scenarios)"+"
</small></i>"

    difficulties=EASY,HARD
    difficulty_descriptions="*" + # wmllint: ignore
    {MENU_IMG_TXT2 "units/undead/zombie-saurian.png~RC(magenta>blue)" _"Skirmisher" _"(Easy)"} +
    ";" +
    {MENU_IMG_TXT2 "units/undead/shadow-s-2.png~RC(magenta>blue)" _"Nightmare" _"(Challenging)"}

    first_scenario=eliador-home
    allow_difficulty_change=no
    {~add-ons/Eliador/credits.cfg}
[/campaign]

#ifdef CAMPAIGN_ELIADOR
[binary_path]
    path=data/add-ons/Eliador
[/binary_path]

#¡ #ifdef HARD
#¡ #define ENABLE_KID_ADVANCEMENTS
#¡ #enddef
#¡ #endif

{~add-ons/Eliador/utils}
{~add-ons/Eliador/scenarios}
[+units]
    {~add-ons/Eliador/units}
[/units]
#endif

# CHANGELOG:
# raised from its grave cause I needed some of the puzzle scenarios
# but decided to publish to BfW 1.10 and later anyway
# run wmltools, updaded & rationalized code
# tweaked gold, carryover, unit levels, ...
# changed douzens of fake units to unit variations
# created base images for kids
# localized 'Eliador' on Irdya
# added story
# added translations of german and portuguese

# ISSUES:
# minors left
# dialogue is childdish
# timeline is vague (I assume during Konrad II reign, shortly after EI)
#	# it would be at least tipically for humans to invade other lands after being (tried) to be invaded themselfs...
# the ai in Balas doesnt realy act as promised
# the Reversi game may be gamebeaking for who doesnt know it (and realy easy for those that know)

# STATUS:
# Bugfree & Playable

# For Ideas, Bugreports, Balancing, or any else, simply mail to the maintainer
